PORT=5000
NODE_ENV=development
JWT_SECRET=super_secret_jwt_key_vk_traders_2026
ADMIN_EMAIL=admin@vktraders.com
ADMIN_PASSWORD=admin123
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_API_URL=http://localhost:5000/api/v1
DATABASE_URL=file:./database/dev.sqlite
